<ng-container *ngIf="data$ | async as data">
  <div class="flex h-screen w-full flex-col items-center">
    <h1 class="py-6 text-center text-4xl font-bold italic text-white">
      Web Dev Tools
    </h1>

    <h2
      class="w-full border-t-1 border-base-200 py-6 text-center text-3xl font-bold italic text-base-content"
    >
      Create an Account
    </h2>

    <form
      class="flex w-full grow flex-col justify-center gap-6 border-y-1 border-base-200 p-12"
      autocomplete="off"
      (ngSubmit)="onSubmit()"
      [formGroup]="registerForm"
    >
      <wdt-input
        name="username"
        formControlName="username"
        labelText="Username"
        [hasError]="hasError('username')"
        [errorText]="getError('username')"
      />

      <wdt-input
        formControlName="email"
        name="email"
        labelText="Email Address"
        [hasError]="hasError('email')"
        [errorText]="getError('email')"
      />

      <wdt-input
        formControlName="password"
        name="password"
        labelText="Password"
        type="password"
        [hasError]="hasError('password')"
        [errorText]="getError('password')"
      />
      <wdt-input
        formControlName="confirmPassword"
        name="confirmPassword"
        labelText="Confirm Password"
        type="password"
        [hasError]="hasError('confirmPassword')"
        [errorText]="getError('confirmPassword')"
      />

      <button
        [disabled]="data.isSubmitting"
        type="submit"
        class="bg-base-200 py-3 text-white transition-opacity hover:bg-opacity-75 disabled:cursor-not-allowed disabled:bg-opacity-50"
      >
        {{ data.isSubmitting ? "Loading..." : "Sign Up" }}
      </button>
    </form>

    <div class="py-6 text-base-content">
      <span>
        Already have an account?
        <a
          routerLink="/auth/login"
          class="cursor-pointer font-semibold italic text-white hover:underline"
        >
          Sign In
        </a>
      </span>
    </div>
  </div>
</ng-container>
