<main class="flex h-full w-full max-w-full flex-col px-4">
  <div *ngIf="!isLoading">
    <header>
      <ul class="flex flex-row items-center gap-8 py-4">
        <li>
          <button
            (click)="getAllTools()"
            type="button"
            class="badge badge-neutral transition-colors hover:badge-primary"
            [class.badge-primary]="activeCategory === null"
          >
            All
          </button>
        </li>
        <li *ngFor="let category of categories">
          <button
            (click)="getFilteredTools(category)"
            type="button"
            class="badge badge-neutral transition-colors hover:badge-primary"
            [class.badge-primary]="activeCategory === category"
          >
            {{ category | titlecase }}
          </button>
        </li>
      </ul>
    </header>
    <div class="divider mt-0"></div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Description</th>
          <th>Tags</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tool of tools" class="hover">
          <td>
            <div class="flex flex-row items-center gap-4">
              <div class="avatar">
                <div class="mask mask-squircle my-2 h-12 w-12">
                  <img
                    [src]="
                      tool.imageURL ||
                      'https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM='
                    "
                    alt="logo"
                  />
                </div>
              </div>
              <p class="whitespace-nowrap">{{ tool.name }}</p>
            </div>
          </td>
          <td>@{{ tool.author }}</td>
          <td>{{ tool.category | titlecase }}</td>
          <td class="hyphens-auto">
            {{ tool.description }}
          </td>
          <td>
            <div class="flex flex-row flex-wrap gap-3">
              <p
                *ngFor="let tag of tool.tags"
                class="whitespace-nowrap rounded-md bg-base-200 px-2 py-1 text-base-content"
              >
                {{ tag }}
              </p>
            </div>
          </td>
          <td>
            <details class="dropdown dropdown-end">
              <summary class="btn btn-square">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 12H12.01"
                    stroke="white"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 18H12.01"
                    stroke="white"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12 6H12.01"
                    stroke="white"
                    stroke-width="3.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </summary>
              <ul
                class="menu dropdown-content rounded-box z-[1] w-52 bg-base-100 p-2 shadow"
              >
                <li><a [routerLink]="['../tool', tool.id]">Details</a></li>
                <li><a [routerLink]="['../update', tool.id]">Update</a></li>
                <li><button>Delete</button></li>
              </ul>
            </details>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
