<div class="form-control w-full">
  <label class="label">
    <span class="label-text">
      {{ fieldName }}{{ !isOptional ? "*" : "" }}
    </span>
  </label>

  <input
    *ngIf="!hasDeleteButton; else joinedInput"
    [type]="type"
    class="input input-bordered w-full"
  />

  <ng-template #joinedInput>
    <div class="join">
      <input [type]="type" class="input join-item input-bordered w-full" />
      <button class="btn btn-error btn-outline join-item rounded-r-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </ng-template>

  <label class="label-text-alt">
    <span
      class="label-text"
      [ngClass]="error ? 'text-error' : 'text-transparent'"
    >
      {{ error ?? "uwu" }}
    </span>
  </label>
</div>
