<div class="flex h-full flex-col">
  <wdt-header
    title="Create new Tool"
    buttonText="Go back"
    redirectTo="/tools"
  />
  <article class="flex w-full grow flex-row">
    <form
      [formGroup]="toolForm"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
      class="flex h-full flex-grow flex-row items-center justify-center border-r-1 border-base-200"
    >
      <div class="flex flex-row gap-20">
        <div class="flex w-72 flex-col gap-6">
          <wdt-input
            formControlName="name"
            name="name"
            labelText="Tool Name"
            [hasError]="hasError('name')"
            [errorText]="getError('name')"
          />

          <wdt-select
            formControlName="category"
            [options]="['Tools', 'Icons']"
            labelText="Category"
            [hasError]="hasError('category')"
            [errorText]="getError('category')"
          />

          <wdt-textarea
            formControlName="description"
            name="description"
            labelText="Description"
            [hasError]="hasError('description')"
            [errorText]="getError('description')"
          />

          <wdt-input
            formControlName="url"
            name="url"
            labelText="URL to Tool"
            [hasError]="hasError('url')"
            [errorText]="getError('url')"
          />
        </div>

        <div class="flex w-72 flex-col gap-6">
          <wdt-autocomplete
            formControlName="author"
            name="author"
            [options]="['hola', 'mundo', 'uwu', 'donda', 'yeezy', 'mun']"
            labelText="Author"
            [hasError]="hasError('author')"
            [errorText]="getError('author')"
          />

          <wdt-autocomplete
            formControlName="tag"
            name="tag"
            [options]="initialTags"
            labelText="Tags"
            [hasError]="hasError('tag')"
            [errorText]="getError('tag')"
            [hasButton]="true"
            (buttonClicked)="addTag($event)"
          />

          <div
            *ngIf="!!tags.length"
            class="flex w-full flex-row flex-wrap gap-3"
          >
            <button
              *ngFor="let tag of tags; let i = index"
              type="button"
              (click)="removeTag(i)"
              class="flex cursor-pointer flex-row items-center justify-between gap-2 bg-base-200 px-2 py-1 opacity-60 transition-opacity hover:opacity-100"
            >
              <span class="text-sm">{{ tag }}</span>
              <span class="material-symbols-outlined"> close </span>
            </button>
          </div>

          <button wdt-button variation="filled" type="submit">
            Create Tool
          </button>
        </div>
      </div>
    </form>
    <div class="h-full w-96"></div>
  </article>
</div>
