<div class="flex h-full flex-col">
  <wdt-header
    title="Create new Tool"
    buttonText="Go back"
    redirectTo="/tools"
  />
  <article class="flex w-full grow flex-row">
    <form
      autocomplete="off"
      class="flex h-full flex-grow flex-row items-center justify-center border-r-1 border-base-200"
    >
      <div class="flex flex-row gap-20">
        <div class="flex w-72 flex-col gap-6">
          <wdt-input
            name="tool"
            labelText="Tool Name"
            [hasError]="false"
            errorText=""
          />

          <wdt-select
            [options]="['Tools', 'Icons']"
            labelText="Category"
            [hasError]="false"
            errorText=""
          />

          <wdt-textarea
            name="description"
            labelText="Description"
            [hasError]="false"
            errorText=""
          />

          <wdt-input
            name="url"
            labelText="URL to Tool"
            [hasError]="false"
            errorText=""
          />
        </div>

        <div class="flex w-72 flex-col gap-6">
          <!-- <wdt-input
            name="author"
            labelText="Author"
            [hasError]="false"
            errorText=""
          /> -->
          <wdt-autocomplete
            name="author"
            [options]="['hola', 'mundo', 'uwu', 'donda', 'yeezy']"
            labelText="Author"
            [hasError]="false"
            errorText="a"
          ></wdt-autocomplete>

          <wdt-input
            name="tags"
            labelText="Tags"
            [hasError]="false"
            errorText=""
          />
          <button wdt-button variation="filled">Create Tool</button>
        </div>
      </div>
    </form>
    <div class="h-full w-96"></div>
  </article>
</div>
