<div class="relative">
  <textarea
    (keyup)="onInputWrite($event)"
    (blur)="onBlur()"
    [name]="name"
    [id]="name"
    [rows]="numberOfLines"
    class="peer w-full resize-none border-1 bg-transparent p-3 text-white placeholder:invisible focus:outline-none focus:outline-2 focus:outline-offset-2"
    [ngClass]="
      hasError
        ? 'border-red-400 focus:outline-red-400'
        : 'border-base-200 outline-base-200 focus:outline-base-200'
    "
    placeholder="uwu"
  ></textarea>

  <label
    [attr.for]="name"
    class="absolute -top-6 left-1 cursor-text text-sm text-base-300 transition-all peer-placeholder-shown:left-3 peer-placeholder-shown:top-3.5 peer-placeholder-shown:text-base peer-focus:-top-6 peer-focus:left-1 peer-focus:text-sm"
  >
    {{ labelText }}
  </label>

  <span
    class="pl-1 text-sm text-red-400"
    [ngClass]="{ 'text-transparent': !hasError }"
  >
    <ng-container *ngIf="!hasError">i</ng-container>
    {{ errorText }}
  </span>
</div>
