<main class="flex h-full w-full flex-row items-center justify-center gap-12">
  <section
    aria-label="form container"
    class="flex h-5/6 max-h-[720px] w-2/5 max-w-xl flex-col rounded-lg bg-base-200"
  >
    <form
      autocomplete="off"
      [formGroup]="toolForm"
      (ngSubmit)="onSubmit()"
      class="overflow-y-scroll px-12 py-6"
    >
      <wdt-form-control fieldName="Name">
        <input type="text" class="input input-bordered w-full" />
      </wdt-form-control>

      <wdt-form-control fieldName="Name">
        <input type="text" class="input input-bordered w-full" />
      </wdt-form-control>

      <wdt-form-control fieldName="Author">
        <input type="text" class="input input-bordered w-full" />
      </wdt-form-control>

      <wdt-form-control fieldName="URL">
        <input type="url" class="input input-bordered w-full" />
      </wdt-form-control>

      <wdt-form-control fieldName="Image URL" [isOptional]="true">
        <input type="url" class="input input-bordered w-full" />
      </wdt-form-control>

      <wdt-form-control fieldName="Description">
        <textarea
          class="textarea textarea-bordered w-full resize-none"
        ></textarea>
      </wdt-form-control>

      <wdt-form-control fieldName="Category">
        <select class="select select-bordered w-full">
          <option disabled selected>-</option>
        </select>
      </wdt-form-control>

      <wdt-form-control fieldName="Tag">
        <select class="select select-bordered w-full">
          <option disabled selected>-</option>
        </select>
      </wdt-form-control>

      <button class="btn btn-neutral w-full">ADD ANOTHER TAG</button>
    </form>
  </section>
  <section
    aria-label="preview container"
    class="flex h-5/6 w-2/5 flex-col items-center justify-center gap-12 rounded-lg"
  >
    <div class="h-56 w-96 rounded-3xl bg-base-300"></div>
    <button class="btn btn-primary w-96">CREATE</button>
  </section>
</main>
