<main class="flex h-full w-full flex-row items-center justify-center gap-12">
  <section
    aria-label="form container"
    class="flex h-5/6 w-2/5 flex-col rounded-lg bg-base-200"
  >
    <form
      autocomplete="off"
      [formGroup]="toolForm"
      (ngSubmit)="onSubmit()"
      class="h-full overflow-y-scroll px-12 py-6"
    >
      <wdt-form-control-input fieldName="Name" />
      <wdt-form-control-input fieldName="Author" />
      <wdt-form-control-input
        fieldName="URL"
        type="url"
        [hasDeleteButton]="true"
      />
      <wdt-form-control-input
        fieldName="Image URL"
        type="url"
        [isOptional]="true"
      />
      <wdt-form-control-textarea fieldName="Description" />
      <wdt-form-control-select
        fieldName="Category"
        [options]="categories | arrayTitlecase"
      />
      <wdt-form-control-select
        fieldName="Tag"
        [options]="tags | arrayUppercase"
      />
      <button class="btn btn-neutral w-full">ADD ANOTHER TAG</button>
    </form>
  </section>
  <section
    aria-label="preview container"
    class="flex h-5/6 w-2/5 flex-col items-center justify-center gap-12 rounded-lg"
  >
    <div class="h-56 w-96 rounded-3xl bg-base-300"></div>
    <button class="btn btn-primary w-96">CREATE</button>
  </section>
</main>
