<mat-card>
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="hasError('email')">{{ getError("email") }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        required
        [type]="isVisible ? 'text' : 'password'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="isVisible = !isVisible"
      >
        <mat-icon>{{ isVisible ? "visibility" : "visibility_off" }}</mat-icon>
      </button>
      <mat-error *ngIf="hasError('password')">
        {{ getError("password") }}
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-flat-button
      color="primary"
      class="submit-btn"
      [disabled]="submitStatus === 'loading'"
    >
      Login
    </button>
    <span>Don't have an account? <a routerLink="../register">Sign Up</a></span>
  </form>
</mat-card>
